# Directories
Debug
DebugStatic
Final
FinalStatic
sdk
build/ipch
# Specific files
clean.bat
# Files of a type
*.py
*.pyc
*.rb
*.lnk
*.obj
*.manifest
*.res
*.user
*.ncb
*.suo
*.dll
*.developer
*.NOGIT
build/*.xml
*.opensdf
*.suo
*.old
*.sdf